<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'ui:index' %}">Онлайн-кинотеатр</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            {% if request.COOKIES.auth_token %} <!-- Очень insecurely. Сделано только для демо. -->
                <form action="{% url 'ui:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-link nav-link" type="submit">Выйти</button>
                </form>
            {% else %}
                <a class="nav-link active" aria-current="page" href="{% url 'ui:login' %}">Войти</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>